@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;

}



/* FOOTER */
    



.footer {
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 25% 75%;
    /* height: 700px; */
    margin: 0px 0px;
    position: relative;
}

.f-upper {
    /* border: 1px solid green; */
    position: relative;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    width: 70%;
    border-radius: 0px 40px 40px 40px;
    background: url(./../images/fupperbg.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0px;
    z-index: 10;
}

.fupperimg {
    float: right;
    opacity: 0.5;
}

.fuicon {
    font-size: 50px;
}

.fleft {
    display: flex;
    flex-direction: row;


}

.subscribeone {
    font-family: "Caveat", cursive;
    font-size: 20px;
    color: #d1f7c1;
}


.subscribetwo {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #fefefe;
    font-weight: 600;
}

.fuicon {
    font-size: 60px;
    color: #fefefe;
    margin-right: 15px;
}

.fuspan {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.fuindiv {
    /* border: 2px solid red; */
    position: relative;
    width: 35%;
    display: flex;

}

.fuinput {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 60px;
    position: relative;
    padding-left: 20px;

}

.fuinbtn {
    align-self: center;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #ffbd3c;

}

.f-lower {
    /* border: 2px solid yellow; */
    /* background-color: #2A491D; */
    background: url(./../images/footerimg.png );
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    padding: 150px 0px;
}


.footereffect {
    position: absolute;
    width: 100%;
    rotate: 90;
    top: 0px;
}

.flowercon {
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */

    width: 100%;
}

.flowerone {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 20%;
}

.flogo {
    /* border: 1px solid red; */
    width: 150px;
}

.fonespa {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fefefe;
    font-weight: 600;
    margin: 20px 0px;
}

.fappsdiv {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 80%;
    /* margin-top: 20px; */
}

.fapps {
    font-size: 16x;
    color: #fefefe;
    width: 40px;
    margin-right: 10px;
    height: 40px;
    border-radius: 50%;
    background-color: #223d17;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;

}

.fapps:hover{
    color: black;
    background-color: #FFBD3C;
}

.flowertwo {
    /* border: 1px solid red;    */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flowersubhead {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fefefe;
    font-weight: 600;
    margin: 10px 0px;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-right: 5px;
    width: auto;
}

.flowerhr {
    position: relative;
    /* right: 30px; */
    width: 20px;
    border: none;
    height: 2px;
    margin-left: 10px;
    background: linear-gradient(90deg, #50a72c 0%, #ffbd3c 100%);
}

.flinks {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #91a589;
    margin: 10px 0px;
    text-decoration: none;
    
}

.flinks:hover{
    color: gray;
}
.flowerthree {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 250px;
}

.fcontacts {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #91a589;
    margin: 10px 0px;
    text-decoration: none;
    /* border: 1px solid red; */
}

.fcontacts:nth-child(0) {
    font-size: 18px;
    /* border: 1px solid red; */
}

.fcontacts-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fefefe;
    text-decoration: underline;
}

.femail {
    font-size: 18px;
}

.fstrip {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    left: 0px;
    padding: 30px 100px;
    width: 100%;
    background-color: #223d17;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #91a589;
}

.fstrlink {
    text-decoration: none;
    margin: 0px 10px;
    color: #91a589;

}

@media screen and (max-width:600px) {

    .footer {
        /* border: 1px solid red; */
        display: grid;
        grid-template-rows: 25% 75%;
        /* height: 700px; */
        margin: 0px 0px;
        position: relative;
    }

    .f-upper {
        /* border: 1px solid green; */
        box-sizing: border-box;
        position: relative;
        left: 50%;
        top: 80px;
        transform: translateX(-50%);
        width: 90%;
        border-radius: 0px 40px 40px 40px;
        background: url(./../images/fupperbg.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px 0px;
        z-index: 10;
    }

    .fupperimg {
        float: right;
        opacity: 0.5;
    }

    .fuicon {
        font-size: 50px;
    }

    .fleft {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .subscribeone {
        font-family: "Caveat", cursive;
        font-size: 20px;
        text-align: center;
        color: #d1f7c1;
    }


    .subscribetwo {
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        color: #fefefe;
        font-weight: 600;
    }

    .fuicon {
        font-size: 60px;
        color: #fefefe;
        margin-right: 15px;
    }

    .fuspan {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
    }

    .fuindiv {
        /* border: 2px solid red; */
        position: relative;
        width: 80%;
        display: flex;
        /* margin-top: 20px; */

    }

    .fuinput {
        width: 100%;
        border: none;
        border-radius: 5px;
        height: 60px;
        position: relative;
        padding-left: 20px;

    }

    .fuinbtn {
        align-self: center;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 5px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #ffbd3c;

    }

    .f-lower {
        /* border: 2px solid yellow; */
        /* background-color: #2A491D; */
        background: url(./../images/footerimg.png );
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        /* height: 500px; */
        padding: 150px 0px;
    }


    .footereffect {
        position: absolute;
        width: 100%;
        rotate: 90;
        top: 0px;
    }

    .flowercon {
        opacity: 1;
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        justify-content: space-evenly;
        align-items: space-around;
        /* border: 1px solid white; */

        width: 100%;
    }

    .flowerone {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        width: 80%;

    }

    .flogo {
        width: 100px;
    }

    .fonespa {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #fefefe;
        font-weight: 600;
        text-align: center;
        margin: 30px 0px;
    }

    .fappsdiv {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        justify-content: center;
        width: 100%;
        /* margin-top: 20px; */
    }

    .fapps {
        font-size: 16x;
        color: #fefefe;
        width: 40px;
        margin-right: 10px;
        height: 40px;
        border-radius: 50%;
        background-color: #223d17;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;

    }

    .flowertwo {
        /* border: 1px solid red;    */
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
    }

    .flowersubhead {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #fefefe;
        font-weight: 600;
        margin: 10px 0px;
        position: relative;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        padding-right: 5px;
        width: auto;
    }

    .flowerhr {
        position: relative;
        /* right: 30px; */
        width: 20px;
        border: none;
        height: 2px;
        margin-left: 10px;
        background: linear-gradient(90deg, #50a72c 0%, #ffbd3c 100%);
    }

    .flinks {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #91a589;
        margin: 10px 0px;
        text-decoration: none;
    }

    .flowerthree {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 2500px;
        width: 80%;

    }

    .fcontacts {

        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #91a589;
        margin: 10px 0px;
        text-decoration: none;
        /* border: 1px solid red; */
    }

    .fcontacts:nth-child(0) {
        font-size: 18px;
        /* border: 1px solid red; */
    }

    .fcontacts-phone {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #fefefe;
        text-decoration: underline;
    }

    .femail {
        font-size: 18px;
    }

    .fstrip {
        /* border: 1px solid red; */
        position: absolute;
        bottom: 0px;
        box-sizing: border-box;
        ;
        left: 0px;
        padding: 20px 10px;
        width: 100%;
        background-color: #223d17;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #91a589;
    }

    .fstripleft {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .fstrlink {
        text-decoration: none;
        margin: 0px 10px;
        color: #91a589;

    }

}

@media screen and (min-width:601px) and (max-width:1000px) {

    .footer {
        /* border: 1px solid red; */
        display: grid;
        grid-template-rows: 25% 75%;
        /* height: 700px; */
        margin: 0px 0px;
        position: relative;
    }

    .f-upper {
        /* border: 1px solid green; */
        position: relative;
        left: 50%;
        top: 80px;
        transform: translateX(-50%);
        width: 90%;
        border-radius: 0px 40px 40px 40px;
        background: url(./../images/fupperbg.png);
        background-size: cover;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 90px 0px;
        z-index: 10;
    }

    .fupperimg {
        float: right;
        opacity: 0.5;
    }

    .fuicon {
        font-size: 50px;
    }

    .fleft {
        display: flex;
        flex-direction: row;


    }

    .subscribeone {
        font-family: "Caveat", cursive;
        font-size: 24px;
        color: #d1f7c1;
    }


    .subscribetwo {
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        color: #fefefe;
        font-weight: 600;
    }

    .fuicon {
        font-size: 60px;
        color: #fefefe;
        margin-right: 15px;
    }

    .fuspan {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
    }

    .fuindiv {
        /* border: 2px solid red; */
        position: relative;
        width: 35%;
        display: flex;

    }

    .fuinput {
        width: 100%;
        border: none;
        border-radius: 5px;
        height: 60px;
        position: relative;
        padding-left: 20px;

    }

    .fuinbtn {
        align-self: center;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 5px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #ffbd3c;

    }

    .f-lower {
        /* border: 2px solid yellow; */
        /* background-color: #2A491D; */
        background: url(./../images/footerimg.png );
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        /* height: 500px; */
        padding: 150px 0px;
    }


    .footereffect {
        position: absolute;
        width: 100%;
        rotate: 90;
        top: 0px;
    }

    .flowercon {
        opacity: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: 1px solid white; */

        width: 100%;
    }

    .flowerone {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .flogo {
        width: 100px;
    }

    .fonespa {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #fefefe;
        font-weight: 600;
        margin: 30px 0px;
    }

    .fappsdiv {
        /* border: 1px solid red; */
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        width: 100%;

        /* margin-top: 20px; */
    }

    .fapps {
        font-size: 16x;
        color: #fefefe;
        width: 40px;
        margin-right: 10px;
        height: 40px;
        border-radius: 50%;
        background-color: #223d17;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;

    }

    .flowertwo {
        /* border: 1px solid red;    */
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .flowersubhead {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #fefefe;
        font-weight: 600;
        margin: 10px 0px;
        position: relative;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        padding-right: 5px;
        width: auto;
    }

    .flowerhr {
        position: relative;
        /* right: 30px; */
        width: 20px;
        border: none;
        height: 2px;
        margin-left: 10px;
        background: linear-gradient(90deg, #50a72c 0%, #ffbd3c 100%);
    }

    .flinks {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #91a589;
        margin: 10px 0px;
        text-decoration: none;
    }

    .flowerthree {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 250px;
    }

    .fcontacts {

        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #91a589;
        margin: 10px 0px;
        text-decoration: none;
        /* border: 1px solid red; */
    }

    .fcontacts:nth-child(0) {
        font-size: 18px;
        /* border: 1px solid red; */
    }

    .fcontacts-phone {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #fefefe;
        text-decoration: underline;
    }

    .femail {
        font-size: 18px;
    }

    .fstrip {
        /* border: 1px solid red; */
        position: absolute;
        bottom: 0px;
        box-sizing: border-box;
        left: 0px;
        padding: 30px 20px;
        width: 100%;
        background-color: #223d17;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #91a589;
    }

    .fstrlink {
        text-decoration: none;
        margin: 0px 10px;
        color: #91a589;

    }

}

/* landing */
.banner {
    background-color: #fff;
    padding: 0px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
}

.left-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.l1 {
    height: 150px;
}

.l2 {
    height: 150px;
    /* position: relative; */
    margin-top: 230px;
    /* padding-top:0px; */

}

.r1 {
    height: 150px;

}

.banner-text {
    flex: 1;
    /* padding-left: 150px; */
    /* border: 1px solid black; */
    width: 40%;
    margin: 100px;

}

.banner-text h1 {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    margin-left: -8px;
}

.banner-text h3 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
}

.banner-text p {
    line-height: 1.5;
    margin-bottom: 20px;
    font: 'Roboto', sans-serif;
    font-size: 18px;
    color: gray;
}


.banner-text button {
    background-color: #50A72C;
    color: white;
    border: none;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 18px 24px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0px;
}

.banner-text button:hover {
    background-color: #be4007;
}

.banner-image {
    flex: 1;
    text-align: right;
    /* border: 1px solid black; */
    width: 40%;
}

.line1 {
    width: 50%;
    position: absolute;
    top: 50px;
    width: 17%;
    /* height: 100px; */
    right: 50px;
}

.pure {
    width: 50%;
    position: absolute;
    top: 90px;
    width: 8%;
    /* height: 100px; */
    right: 150px;
}

.honey-jar {
    width: 500px;
    margin-top: 0px;
}




.honeybee {
    width: 60px;
    position: absolute;
    animation: fly 3s linear infinite;
}

.honeybee:nth-child(3) {
    top: 10px;
    left: 50px;
}

.honeybee:nth-child(4) {
    bottom: 100px;
    left: 700px;
    animation-delay: 1s;
}

.honeybee:nth-child(5) {
    top: 250px;
    left: 20px;
    animation-delay: 2s;
}

@keyframes float1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fly {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, 5px);
    }

    50% {
        transform: translate(0, 10px);
    }

    75% {
        transform: translate(-10px, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}


@media screen and (max-width:1000px) {
    .banner {
        background-color: #fff;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: none;
        /* border: 1px solid red; */
    }

    .left-img {
        /* display: none; */
        flex-direction: column;
        justify-content: space-between;
        /* border: 1px solid black; */
        position: absolute;
        top: 0px;
        left: 0px;

    }

    .l1 {
        height: 100px;
    }

    .l2 {
        height: 100px;
        /* position: relative; */
        margin-top: 230px;
        /* padding-top:0px; */

    }

    .right-img {
        /* border: 1px solid red; */
        position: absolute;
        bottom: 0px;
        width: 80%;
    }

    .r1 {
        height: 100px;
        display: none;
    }

    .banner-text {
        flex: 1;
        /* padding-left: 150px; */
        /* border: 1px solid black; */
        width: 80%;
        margin: 80px;
        margin-bottom: 0px;
        text-align: center;

    }

    .banner-text h1 {
        font-size: 4em;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: "Oswald", sans-serif;
        letter-spacing: 3px;
        margin-left: -8px;
    }

    .banner-text h3 {
        font-family: "Oswald", sans-serif;
        letter-spacing: 5px;
        font-weight: 400;
    }

    .banner-text p {
        line-height: 1.5;
        margin-bottom: 20px;
        font: 'Roboto', sans-serif;
        font-size: 18px;
        color: gray;
    }


    .banner-text button {
        background-color: #50A72C;
        color: white;
        border: none;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        letter-spacing: 3px;
        padding: 18px 24px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 0px;
    }
    .banner-image {
        flex: 1;
        text-align: right;
        /* border: 1px solid black; */
        width: 80%;
    }

    .line1 {
        width: 50%;
        position: absolute;
        top: 50px;
        width: 17%;
        /* height: 100px; */
        right: 50px;
        display: none;
    }

    .pure {
        width: 50%;
        position: absolute;
        top: 50px;
        display: none;
        width: 8%;
        /* height: 100px; */
        right: 150px;
    }

    .honey-jar {
        width: 80%;
        margin-top: 0px;
    }
}

/*  */


.products-container {
    /* border: 1px solid red; */
    background: white;
    position: relative;
    top: -20px;
    display: flex;
    gap: 20px;
    margin: 20px;
    width: 90%;
    margin: 50px 5%;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1),
                10px 10px 15px rgba(0, 0, 0, 0.1),
                10px 10px 15px rgba(0, 0, 0, 0.1),
                10px 10px 15px rgba(0, 0, 0, 0.1); */
    box-shadow: 5px -10px 20px -20px rgba(0, 0, 0, 0.5),
        10px 0px 10px -20px rgba(0, 0, 0, 0.5),
        0px 15px 20px -20px rgba(0, 0, 0, 0.5),
        -10px 0px 20px -20px rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.product-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    gap: 20px;
    text-align: left;
    align-items: center;
}

.product-card img {
    max-width: 100px;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;

}

.product-card p {
    line-height: 1.5;
    margin-bottom: 20px;
    font: 'Roboto', sans-serif;
    font-size: 15px;
    color: gray;

}

.product-card a {
    font-size: 14px;
    color: #50A72C;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-family: "Roboto", sans-serif;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    /* padding: 18px 24px; */
    font-size: 15px;
    cursor: pointer;
}

.product-card a:hover {
    color: #e74c3c;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:1000px) {
    .products-container {
        /* border: 1px solid red; */
        background: white;
        position: relative;
        top: -20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        width: 90%;
        margin: 50px 5%;
        /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1),
                    10px 10px 15px rgba(0, 0, 0, 0.1),
                    10px 10px 15px rgba(0, 0, 0, 0.1),
                    10px 10px 15px rgba(0, 0, 0, 0.1); */
        box-shadow: 5px -10px 20px -20px rgba(0, 0, 0, 0.5),
            10px 0px 10px -20px rgba(0, 0, 0, 0.5),
            0px 15px 20px -20px rgba(0, 0, 0, 0.5),
            -10px 0px 20px -20px rgba(0, 0, 0, 0.5);
        padding: 50px 10px;
    }

    .product-card {
        /* border: 1px solid red; */
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        transition: transform 0.3s, box-shadow 0.3s;
        display: flex;
        gap: 10px;
        text-align: left;
        align-items: center;
    }

    .product-card img {
        max-width: 100px;
        margin-bottom: 20px;
    }

    .product-card h3 {
        font-size: 24px;
        margin-bottom: 10px;
        font-family: "Oswald", sans-serif;

    }

    .product-card p {
        line-height: 1.5;
        margin-bottom: 20px;
        font: 'Roboto', sans-serif;
        font-size: 15px;
        color: gray;

    }

    .product-card a {
        font-size: 14px;
        color: #50A72C;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
        font-family: "Roboto", sans-serif;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        letter-spacing: 3px;
        /* padding: 18px 24px; */
        font-size: 15px;
        cursor: pointer;
    }

    .product-card a:hover {
        color: #e74c3c;
    }

    .product-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

}


/* about */

.about {
    background-color: #fff;
    padding: 0px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
}


.about .about-text {
    /* flex: 1; */
    /* padding-left: 150px; */
    /* border: 1px solid black; */
    width: 50%;
    margin: 100px;
}

.about .about-text h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    /* margin-left: -8px; */
    width: 70%;
}

.about .about-text h3 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
}

.about .about-text p {
    line-height: 1.5;
    margin-bottom: 20px;
    font: 'Roboto', sans-serif;
    font-size: 18px;
    color: gray;
}

.about .about-text button {
    background-color: #50A72C;
    color: white;
    border: none;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 18px 24px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px;
    transition: all 0.75s;
}

.about .about-text button:hover {
    background-color: #be4007;
    scale: 1.1;
}

.about-image {
    /* flex: 1; */
    text-align: right;
    /* border: 1px solid black; */
    width: 50%;
}



.about-1 {
    width: 500px;
    margin-top: 0px;
    background-color: #fef6ef;
    padding: 20px;
    border-radius: 50%;
}

@media screen and (max-width:1000px) {
    .about {
        background-color: #fff;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        /* border: 1px solid red; */
    }

    .-jar {
        /* border: 1px solid red; */
        width: 150px;
    }

    .about .about-text {
        /* flex: 1; */
        /* padding-left: 150px; */
        /* border: 1px solid black; */
        width: 80%;
        margin: 10px;
        /* text-align: center; */
    }

    .about-text h1 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        font-family: "Oswald", sans-serif;
        letter-spacing: 3px;
        /* margin-left: -8px; */
        width: 100%;
        /* border: 1px solid red; */
        width: 100%;

    }

    .about .about-text h3 {
        font-family: "Oswald", sans-serif;
        letter-spacing: 5px;
        text-align: center;
        font-weight: 400;
    }

    .about .about-text p {
        line-height: 1.5;
        margin-bottom: 20px;
        font: 'Roboto', sans-serif;
        font-size: 16px;
        color: gray;
        text-align: center;
        /* border: 1px solid blue; */

    }

    #responsiveness{
        width: 100%;
    }

    .about .about-text button {
        background-color: #be4007;
        color: white;
        border: none;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        letter-spacing: 3px;
        padding: 18px 24px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 0px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .about-image {
        /* flex: 1; */
        text-align: center;
        /* border: 1px solid black; */
        width: 100%;
    }



    .about-1 {
        width: 90%;
        margin-top: 0px;
        background-color: #fef6ef;
        padding: 20px;
        border-radius: 50%;
    }
}

/* PRODUCT */
.featured {
    text-align: center;
    /* border: 1px solid re d; */
    background-color: #F5F5DC;
    padding: 50px 0px;
    /* height: 600px;    */
}

.productsec {
    /* border: 1px solid red; */
    margin: 0px 0px;

    padding: 40px 0px;
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.productone {
    font-family: "Caveat", system-ui;
    font-size: 28px;
    font-weight: 600;
    color: #50A72C;
}

.producttwo {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
}

.product-carousel {
    width: 70%;
    margin: 20px 0px;
    /* min-height: 400px; */
}

.featured .carousel-cell {
    border: 1px solid #d6d6d6;
    padding: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    opacity: 0.5;
    margin: 0px 50px;
    height: 400px;
}

.featured .carousel-cell.is-selected {
    opacity: 1;
    box-shadow: 5px -10px 20px -20px rgba(0, 0, 0, 0.5),
        10px 0px 10px -20px rgba(0, 0, 0, 0.5),
        0px 15px 20px -20px rgba(0, 0, 0, 0.5),
        -10px 0px 20px -20px rgba(0, 0, 0, 0.5);
}

.productrating {
    margin-top: 30px;
    color: #ffbd3c;
}

.productimg {
    width: 80%;
}

.productname {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.productprice {

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

@media screen and (max-width:1000px) {
    .featured {
        text-align: center;
        margin-top: 20px;
        /* border: 1px solid re d; */
    }

    .productone {
        font-family: "Caveat", system-ui;
        font-size: 24px;
        font-weight: 600;
        color: #50A72C;
    }

    .producttwo {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        font-weight: 800;
        margin-top: 10px;
    }

    .productsec {
        /* border: 1px solid red; */
        margin: 0px 0px;

        padding: 40px 0px;
        width: 90%;
        margin-left: 5%;
        height: auto;
    }
}

.flickity-page-dots {
    display: none;
}


/* Testimonials */

.testimonialdes {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 50px 80px;
    overflow-x: hidden;
}

.testleft {
    /* flex: 1; */
    /* padding-left: 150px; */
    /* border: 1px solid black; */
    width: 100%;
    margin: 100px;
}

.testleft h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    /* margin-left: -8px; */
    width: 90%;
}

.testleft h3 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
}

.testleft p {
    line-height: 1.5;
    margin-bottom: 20px;
    font: 'Roboto', sans-serif;
    font-size: 18px;
    color: gray;
}

.testleft button {
    background-color: #50A72C;
    color: white;
    border: none;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 18px 24px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px;
    transition: all 0.75s;
}

.testleft button:hover {
    background-color: #be4007;
    scale: 1.1;
}

.testright {
    /* border: 1px solid red; */
    position: relative;
    width: 80%;
    left: 80px;
}

.testright .carousel {
    /* border: 1px solid blue; */
    position: absolute;
    left: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 50%;
    border-radius: 20px;
    z-index: 150;
    background: white;

    height: 470px;
}

.testright .carousel .carousel-cell {
    width: 100%;

    height: 450px;
    border-radius: 20px;
}

.girlimg {
    width: 500px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 30px;
}

.greenleaf {
    /* border: 1px solid red; */
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;

}

.testimonialcard {
    width: 50%;
    /* border: 1px solid red; */
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    z-index: 10000;
    position: absolute;
    left: 60px;
    top: 30px;

}

.testone {
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50%;
    color: white;
    background: #FFBD3C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.testcomment {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: gray;
    text-align: center;
    margin: 20px 0px;
    line-height: 1.5;
}

.testiname {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #223d17;
    margin-left: 40px;
}

.clientimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: 40px;

}

@media screen and (max-width:1000px) {

    .testimonialdes {
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        padding: 80px 20px;
    }

    .testleft {
        /* flex: 1; */
        /* padding-left: 150px; */
        /* border: 1px solid black; */
        width: 100%;
        margin: 0px;
    }

    .testleft h1 {
        /* border: 1px solid red; */
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: "Oswald", sans-serif;
        letter-spacing: 3px;
        /* margin-left: -8px; */
        width: 100%;
    }

    .testleft h3 {
        font-family: "Oswald", sans-serif;
        letter-spacing: 5px;
        font-weight: 400;
        width: 100%;
        text-align: center;
    }

    .testleft p {
        line-height: 1.5;
        margin-bottom: 20px;
        font: 'Roboto', sans-serif;
        font-size: 16px;
        color: gray;
        text-align: center;
    }

    .testleft button {
        background-color: #50A72C;
        color: white;
        border: none;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        letter-spacing: 3px;
        padding: 18px 20px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 0px;
        transition: all 0.75s;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .testleft button:hover {
        background-color: #be4007;
        scale: 1.1;
    }

    .testright {
        /* border: 1px solid red; */
        position: relative;
        width: 100%;
        left: 0px;
        height: 500px;
        margin-top: 50px;
    }

    .testright .carousel {
        /* border: 1px solid blue; */
        position: absolute;
        left: 0px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        width: 70%;
        border-radius: 20px;
        z-index: 150;
        background: white;

        height: 370px;
    }

    .testright .carousel .carousel-cell {
        width: 100%;
        /* border: 1px solid red; */
        height: 370px;
        border-radius: 20px;
    }       
    .girlimg {
        width: 60%;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        top: 50%;
        bottom: 0px;
    }

    .greenleaf {
        /* border: 1px solid red; */
        position: absolute;
        right: 0px;
        top: 40%;
        width: 120px;

    }

    .testimonialcard {
        width: 50%;
        /* border: 1px solid green; */
        padding: 20px;
        height: 100%;
        border-radius: 10px;
        background-color: white;
        z-index: 10000;
        position: absolute;
        left: 60px;
        top: 0px;

    }

    .testone {
        width: 50px;
        height: 50px;
        font-size: 20px;
        border-radius: 50%;
        color: white;
        background: #FFBD3C;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .testcomment {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: gray;
        text-align: center;
        margin: 20px 0px;
        line-height: 1.5;
    }

    .testiname {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #223d17;
        margin-left: 0px;
    }

    .clientimg {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        bottom: 20px;

    }

}